{{!-- Used to display pull history --}}
<div class="history">
    <a href="/gacha">Back to Gacha</a>
    {{!-- Iterate over each pull --}}
    {{#each pullHistory}}
    {{!-- Display the pull type --}}
    <p class="history">Pull type: {{this.pull_type}}</p>
    {{!-- Iterate over each pulled character --}}
    {{#each this.pulled}}
    <div class="pull-details"> {{!-- Display each character's details --}}
        <p class="history">Name: {{this.name}}</p> {{!-- Display character's name --}}
        <img src="{{this.image}}" alt="{{this.name}}'s image"> {{!-- Display character's image --}}
        <p class="history">Rarity: {{this.rarity}}</p> {{!-- Display character's rarity --}}
        <p class="history">Timestamp: {{this.timestamp}}</p> {{!-- Display time the character was pulled
        --}}
    </div>
    {{/each}}
    {{/each}}
</div>
