{{!-- Used to display pull history --}}
<div class="history">
    <a href="/gacha">Back to Gacha</a>
    {{!-- Iterate over each pull --}}
    {{#each pullHistory}}
    {{!-- Display the pull type --}}
    <p id="pullType" class="history">Pull type: {{this.pull_type}}</p>
    {{!-- Iterate over each pulled character --}}
    {{#each this.pulled}}
    <div class="pull-details"> {{!-- Display each character's details --}}
        <p id="name" class="history">Name: {{this.name}}</p> {{!-- Display character's name --}}
        <img src="{{this.image}}" alt="{{this.name}}'s image"> {{!-- Display character's image --}}
        <p id="rarity" class="history">Rarity: {{this.rarity}}</p> {{!-- Display character's rarity --}}
        <p id="timestamp" class="history">Timestamp: {{this.timestamp}}</p> {{!-- Display time the character was pulled
        --}}
    </div>
    {{/each}}
    {{/each}}

    <audio controls hidden loop id="sound">
        <source src="/public/music/digimonFrontierOP.mp3" type="audio/mp3">
    </audio>
    <script>
        const audio = document.getElementById("sound");
        audio.removeAttribute("muted");
        window.addEventListener("click", () => {
            audio.play()
            audio.volume = 0.05
        })
    </script>
</div>