{{!-- Used to display a user's profile information --}}
<div class="user">
    <h1>Hello {{username}}!</h1>

    <h2>Current Picture:</h2>
    <img src="{{user.image}}" alt="<Profile Pic Here>" width="200" height="200">

    <h3>Upload Profile Picture</h3>
    <form id="pic-form" action="/user/{{userId}}/upload-pic" method="POST" enctype="multipart/form-data">
        <label for="profilePic">Choose a new picture:</label>
        <input type="file" id="profilePic" name="profilePic" accept="image/*" required>
        <button type="submit">Upload Pic</button>
    </form>

    <h3>You're level {{level}} and have obtained {{obtained}} characters!</h3>

    <a href="/shop">Shop</a>
    <a href="/collectionInventory">Inventory</a>
    <a href="/collectionIndex">Index</a>
    <a href="/gacha">Gacha</a>

    <audio controls hidden loop id="sound">
        <source src="/public/music/digimonTamersSlash.mp3" type="audio/mp3">
    </audio>
    <script>
        const audio = document.getElementById("sound");
        audio.removeAttribute("muted");
        window.addEventListener("click", () => {
            audio.play()
            audio.volume = 0.05
        })
    </script>
</div>